.navbar-brand {
    font-size: 25px;
    font-style: italic;
    display: flexbox;
}

.text-start{
    margin-bottom: 80px;
   
}

.navbar-nav > li{
    padding-left:20px;
    padding-right:20px;
  }

.dropdown-menu span {
    content: "\1F4DE";
    font-size: 12px;
    font-style: bold;
}

#hero-calc {
    height: 850px; 
    width: 2000px; 
    overflow: hidden; 
    
}
.logo-ul {
    border: 1px ;
    margin-top: 15px;
    margin-left: -40px;
    font-size: 22px;
    line-height: 25px;
    color: rgb(216, 179, 57);
    list-style-type: none;
}
.rounded-circle {

    border: solid black;
    border-width:  1.8px;
}
